.private-layout {
  display: flex;
  flex-direction: row;

  .container-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-fluid {
    background-color: inherit;
    padding: 1rem 3rem;
  }
}